@model Lc_Voitures.Models.Categorie

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: #6c757d;">Categorie</h2>
<br />

<h3 style="color: #e31919;">Êtes-vous sûr de vouloir supprimer ceci ?</h3>
<br />

@*<h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Categorie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.type)
            </dd>

        </dl>

        
    </div>*@

<table class="table table-striped table-hover  ">
    <tr>
        <th>
            CATEGORIE ID
        </th>
        <th>
            TYPE
        </th>

        <th>
            ACTION
        </th>

    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.categorieID)
        </td>
        <td>
            @Html.DisplayFor(model => model.type)
        </td>

        <td>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-outline-danger" /> 
                @Html.ActionLink("Annuler", "Index", new { id = Model.categorieID }, new { @class = "btn btn-outline-dark" })
            </div>
            }
        </td>




    </tr>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />