@model IEnumerable<Lc_Voitures.Models.Categorie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer un nouveau", "Create", null, new { @class = "btn btn-outline-dark" })
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categorieID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.categorieID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.type)
    </td>
    <td>
        <div class="btn-group">
            @Html.ActionLink("Modifier", "Edit", new { id = item.categorieID }, new { @class = "btn btn-outline-primary" })
            @Html.ActionLink("Details", "Details", new { id = item.categorieID }, new { @class = "btn btn-outline-success" })
            @Html.ActionLink("Supprimer", "Delete", new { id = item.categorieID }, new { @class = "btn btn-outline-danger" })
        </div>
    </td>
</tr>
}

</table>
