@model Lc_Voitures.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <table>
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.nom_Complet)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nom_Complet)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.date_Naissance)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.date_Naissance)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.tele)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tele)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.password)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsAdmin)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsAdmin)
                    </dd>
                </dl>
            </td>
            <td>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.image_CIN)
                    </dt>

                    <dd>
                        <img src="/Users/ImageCIN/@Html.DisplayFor(model => model.userID)" alt="" height=240 width=480 />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.image_Permis)
                    </dt>

                    <dd>
                        <img src="/Users/ImagePermis/@Html.DisplayFor(model => model.userID)" alt="" height=240 width=480 />
                    </dd>


                </dl>
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
